@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-vand-primary-1 w-1 h-2;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-vand-primary-4;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-vand-primary-4;
}

body {
    @apply bg-vand-primary-1/95;
}

* {
    scroll-behavior: smooth;
    @apply font-yekanX;
}

.glass {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

.green-glow:hover {
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(0px 0px 10px rgba(38, 140, 67, 0.4));
}

.pattern {
    background-image: radial-gradient(#268c43 0.5px, #0b140c 0.5px);
    background-size: 15px 15px;
}

/* ---------------------------------------------------------------------- */
/* Fonts area */

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}
